.top{
      margin-left: 20px;
}
li.main{
    
    display: inline;
    margin: 100px;

    margin-left: initial;
}
h1{
    position: relative;
    margin-top: -11.2%;
    float: inline-end;
    margin-left: 400px ;
    letter-spacing: 0px;
}
li img{
     max-width: 10%;
}

.logo{
    display: inline;
}
a{
    text-decoration: none;
}
h1{
    float:right;
    margin-right: 200px;
    font-size:  60px ;

}
ul{
    border-left: 00px;
    border-right:0px;
    border-style: solid;
    padding-top:0.7%;
    padding-bottom: 0.7%;
    border-color:skyblue ;
    
}
#ware{
    margin-left: 4%;
}

#frame{
    float:right;
    margin-right: 4%;
    background-color: antiquewhite;
    margin-top: -34%;
    border-color: black;
    outline: auto;
}
#block{
    height: 100px;
    border-left: 00px;
    border-right:0px;
    border-style: solid;
    padding-top:0.7%;
    padding-bottom: 0.7%;
    border-color:skyblue ;
    
}
.end{
    background-color: blanchedalmond;
    border: solid;
    height: 400px;
}
.end a{
    margin:100px;
    margin-left: 30px;

}